.p0m0 {
  padding: 0;
  margin: 0;
}

.p0m0i {
  padding: 0!important;
  margin: 0!important;
}

.p_tb0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p_tb0i {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.p_lr0 {
  padding-left: 0;
  padding-right: 0;
}

.p_lr0i {
  padding-left: 0!important;
  padding-right: 0!important;
}

.p_lr1i {
  padding-left: 1.25rem!important;
  padding-right: 1.25rem!important;
}

.m_tb0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m_tb0i {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.m_lr0 {
  margin-left: 0;
  margin-right: 0;
}

.m_lr0i {
  margin-left: 0!important;
  margin-right: 0!important;
}

.p0 {
  padding: 0;
}

.p0i {
  padding: 0!important;
}

.m0 {
  margin: 0;
}

.m0i {
  margin: 0!important;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
